#loginForm{
    margin-top: 15%;
    width: 45%;
    padding: 10px;
    background: #ffffff; 
}
.form-check-label{
    color: #ffffff;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #0080c9;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
#rememberText{
    color: black;
    margin-bottom: 8px;
}
#employeeTable{
    margin: 5%,5%,5%,5%;
    width: 50%;
}
.loginBtn{
    color: black;
    background-color: #fff;
    border-color: #007bff;
}
.statsCards {
    display: flex;
    align-items: center;
    justify-content: center;
  }